/*	Medium Layout: 1280px	*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	
	
}



/*		Tablet Layout: 768px.       */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	

}



/*		Mobile Layout: 320px.         */

@media only screen and (max-width: 767px) {
	
	
	
	.logo a {
		font-size: 22px;
	}
	.mainmenu ul li a {
		font-size: 14px;
	}
	.logo, .mainmenu {
	  text-align: center;
	}
	.hero_content {
		text-align: center;
		font-size: 14px;
	}
	.hero_content > h1 {
	  font-size: 20px;
	}
	.copyright, .social_icon {
	  padding: 8px;
	  text-align: center;
	}
	.header_ara {
	  padding: 20px 5px 0;
	}
	.hero_content {
	  width: 100%;
	  padding: 40px 0;
	}
	
	.copyright {
	  font-size: 12px;
	}
	
	.social_icon a {
	  font-size: 20px;
	  padding: 3px;
	}
	
	.bordered_area::after {
	  left: -5px;
	  width: calc(100% + 10px);
	}
	
}



/*		Wide Mobile Layout: 480px.        */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	

}





/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}