/*=================================
My Custom CSS
=============

Author: Mohammad Saifur Rahman
Updated: February 2017
Notes: Hand Coded for RR Foundation

*===================================/

/*------Start Base CSS------*/
* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Poppins:300,400,500,600,700&subset=devanagari');

body {
    font-family: 'Muli', sans-serif;
}
img {
    height: auto;
    max-width: 100%;
	border: none;
}
body, html {
    height: 100%;
}
a, a:hover {
    text-decoration: none;
}
a:focus {
	color: #333;
	text-decoration: none;
}
a:focus, input:focus, textarea:focus, button:focus {
	outline: 0 solid;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
    margin-top: 0;
     font-family: 'Poppins', sans-serif;
}
p {
    margin-bottom: 10px;
    margin-top: 0;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.fix:before, .fix:after {
	content: "";
	display: table;
}
.fix:after {
	clear: both;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
.section_padding {
	padding: 80px 0;
}
/*------End Base CSS------*/

/*------Start Here Global CSS------*/
.portfolio_list {
    overflow: hidden;
    z-index: 2;
    margin-bottom: 214px;
}
.single_portfolio_bg_1{
    background-image: url(assets/img/ma_1.jpg);
}
.single_portfolio_bg_2{
    background-image: url(assets/img/ma_2.jpg);
}
.single_portfolio_bg_3{
    background-image: url(assets/img/ma_3.png);
}
.single_portfolio_bg_4{
    background-image: url(assets/img/ma_4.png);
}
.single_portfolio_bg_5{
    background-image: url(assets/img/ma_5.jpg);
}
.single_portfolio_bg_6{
    background-image: url(assets/img/ma_6.jpg);
}
.single_portfolio_bg_7{
    background-image: url(assets/img/ma_7.jpg);
}
.single_portfolio_bg_8{
    background-image: url(assets/img/ma_8.png);
}
.single_portfolio_bg_9{
    background-image: url(assets/img/ma_9.jpg);
}
.single_portfolio_bg_10{
    background-image: url(assets/img/ma_10.jpg);
}
.single_portfolio_bg_11{
    background-image: url(assets/img/ma_11.jpg);
}
.single_portfolio {
    background-size: 100%;
    background-position: center;
    background-color: #ddd;
    height: 320px;
    float: left;
    width: 25%;
    display: table;
    transition: .3s;
}
.single_portfolio:hover{
    background-size: 120%;
}
.portfolio_hover {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.single_portfolio.large {
    height: 640px;
}
.single_portfolio.box {
    height: 640px;
    width: 50%;
}
.single_portfolio:hover .portfolio_hover{
    opacity: 1;
    visibility: visible;
}
.portfolio_hover h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 27px;
}
.portfolio_hover p {
    opacity: .5;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    transition: .3s;
}
.portfolio_hover p:hover {
    opacity: 1;
}
/*header css*/
.header_area {
    padding: 35px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}
.header_logo h2 a {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    letter-spacing: 1.2px;
    position: relative;
}
.header_logo h2 span {
    position: absolute;
    font-size: 10px;
    font-weight: 900;
    right: -10px;
    top: 1px;
}
.navbar_toogle span {
    height: 2px;
    background: #000;
    display: block;
    transition: .3s;
}
.navbar_toogle{
    display: inline-block;
    width: 30px;
}
.navbar_toogle span:nth-child(2) {
    margin: 5px 0;
}
.navbar_toogle:hover span:nth-child(1),
.navbar_toogle:hover span:nth-child(3) {
    margin: 0 8px;
}
/*footer css*/
.footer_area {
    background: #613ad6;
}
.footer_area h2 a{
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    letter-spacing: 1.2px;
    position: relative;
}
.footer_area h2 span {
    position: absolute;
    font-size: 8px;
    font-weight: 900;
    right: -10px;
    top: 1px;
}
.footer_area p a {
    font-size: 14px;
    color: #fff;
    line-height: 2;
    opacity: .8;
}
.footer_area li a {
    display: block;
    line-height: 2;
    color: #fff;
    opacity: .8;
}
.footer_area {
    background: #613ad6;
    padding: 50px 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    bottom: 0;
}










