/*=================================
My Custom CSS
=============

Author: Mohammad Saifur Rahman
Updated: February 2017
Notes: Hand Coded for RR Foundation

*===================================/

/*------Start Base CSS------*/
* {
    margin: 0;
    padding: 0;
}
body {
	
}
img {
    height: auto;
    max-width: 100%;
	border: none;
}
body, html {
    height: 100%;
}
a, a:hover {
    text-decoration: none;
}
a:focus {
	color: #333;
	text-decoration: none;
}
a:focus, input:focus, textarea:focus, button:focus {
	outline: 0 solid;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
    margin-top: 0;
}
p {
    margin-bottom: 10px;
    margin-top: 0;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.fix:before, .fix:after {
	content: "";
	display: table;
}
.fix:after {
	clear: both;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
.section_padding {
	padding: 80px 0;
}
/*------End Base CSS------*/

/*------Start Here Global CSS------*/
.section_bg {
    background-image: url(assets/img/service4.jpg);
    background-size: cover;
    background-position: center;
    background-color: #333;
    height: 262px;
    padding-bottom: 189px;
    padding-top: 113px;
    position: relative;
    z-index: 1;
}
.section_bg:after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: -1;
    opacity: .3;
}
section_title {
    text-align: center;
    font-size: 40px;
}
section_title h1 {
    font-size: 40px;
    font-weight: 300;
    color:#fff;
}
.pricing_table {
    margin-top: -79px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
}
.pricing_header {
    background: #203055;
    height: 250px;
    display: table;
    width: 100%;
    position: relative;
    text-align: center;
}
.pricing_header_inner {
    display: table-cell;
    vertical-align: middle;
    color: #4A536E;
}
.pricing_header_inner h2 {
    font-size: 35px;
    color: #fff;
    font-weight: 500;
}
.pricing_header_inner p{
    font-size: 18px;
}
.special_pricing {
    position: absolute;
    left: 0;
    top: -40px;
    color: #fff;
    width: 100%;
    background-color: #1B2638;
    text-transform: uppercase;
    padding: 10px;
    font-size: 15px;
}
.sub_title {
    background: #F0EFF0;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
}
.pricing_content {
    margin-left: 25px;
}
.small_content {
    font-size: 12px;
    margin-left: 12px;
    opacity: .5;
}
.pricing_table .row {
    margin-left: -5px;
    margin-right: -5px;
}
.pricing_table .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}













