/*
My Custom CSS
=============

Author: Mohammad Saifur Rahman
Updated: February 2017
Notes: Hand Coded for RR Foundation

*/

/*------Start Base CSS------*/
* {
    margin: 0;
    padding: 0;
}
body {
	font-family: 'open_sansregular';
	font-size: 17px;
}
img {
    height: 100%;
    max-width: 100%;
	border: none;
}
body, html {
    height: 100%;
}
a, a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 0;
}
h2 {
	font-size: 32px;
	font-weight: 700;
}
p {
    margin-bottom: 10px;
    margin-top: 0;
	color: #A9A9A9;
}
.fix:before, .fix:after {
	content: "";
	display: table;
}
.fix:after {
	clear: both;
}
/*------End Base CSS------*/

/*------Start Here Custom CSS------*/
section.section_area {
    padding: 100px 0;
}
.section_title {
    margin-bottom: 50px;
}
.section_title h2 {
    display: inline-block;
    position: relative;
	color: #222;
}
.section_title h2::before {
    background: #222222 none repeat scroll 0 0;
    bottom: -15px;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    width: 50px;
    z-index: 2;
	margin-left: -25px;
}
.section_title h2::after {
    background: #FC8F16 none repeat scroll 0 0;
    bottom: -15px;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    width: 100px;
    z-index: 1;
	margin-left: -50px;
}
.section_title p {
    margin-top: 15px;
}
.single_box_bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 200px;
	border: 1px solid #FF8F17;
	background: #ddd;
	border-bottom: 0px;
}
.single_box_bg_1 {
	background: url(img/p1.jpg);
}
.single_box_bg_2 {
	background: url(img/p2.jpg);
}
.single_box_bg_3 {
	background: url(img/p1.jpg);
}
.single_box_content {
	padding: 20px;
	border: 1px solid #A9A9A9;
	transition:all 0.9s ease 0s;
	-moz-transition:all 0.9s ease 0s;
	-webkit-transition:all 0.9s ease 0s;
	-o-transition:all 0.9s ease 0s;
}
.single_box_content h3 {
    font-size: 20px;
    margin-top: 15px;
}
.single_box_item:hover .single_box_content {
	border: 1px solid #FF8F17;
}
.blog_meta i {
	color: #FF8F17;
	margin-right: 8px;
}
.blog_meta a {
	color: #A9A9A9;
	margin-right: 8px;
	font-size: 14px;
}
.blog_meta span {
	margin-right: 15px;
}
.blog_meta span:last-child {
	margin-right: 0px;
}
.blog_readmore_btn {
	color: #fff;
	background: #FF8F17;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 4px;
	text-transform: uppercase;
	margin-top: 10px;
	font-size: 14px;
	transition:all 0.9s ease 0s;
	-moz-transition:all 0.9s ease 0s;
	-webkit-transition:all 0.9s ease 0s;
	-o-transition:all 0.9s ease 0s;
}
.blog_readmore_btn:hover {
	background: #333;
	color: #fff;
}