/*		Tablet Layout: 768px.       */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nav.navbar-nav li a {
        padding: 15px 8px;
    }
    .logo a {
        margin-top: 0px;
    }
    .slide_text h1 {
        font-size: 40px;
        line-height: 1.3;
    }
    .slide_text {
        text-align: center;
    }
    .navbar {
        min-height: 0px;
    }
    .about_me_title h2 {
        font-size: 30px;
    }
    .about_me_content h1 {
        display: none;
    }
    .presonal-inform li strong {
        width: 70px;
        font-size: 13px;
    }
    .contact_social_links a {
        margin-right: 7px;
    }
    .get_in_touch_btn {
        margin-top: 15px;
    }
    .footer_widget h3 {
        font-size: 20px;
    }
    

}



/*		Mobile Layout: 320px.         */

@media only screen and (max-width: 767px) {
	
    .slide_text,
    .progresss h4 {
      font-size: 12px;
    }
    .slide_text h1 {
      font-size: 30px;
    }
    .slide_text .slide_btn {
      width: 180px;
    }
    .home_slide:hover .owl-controls .owl-nav div {
        left: 0;
    }   
    .home_slide:hover .owl-controls .owl-nav div.owl-next {
        right: 0;
    }
    .about_me_title {
        margin-top: 15px;
    }
    .about_me_title,
    .about_me_content,
    .presonal-inform,
    .presonal-inform ul li,
    .section_title,
    .collaps_area,
    .blog_box_item,
    .work_offer h2,
    .main-nav li,
    .contact_us_title,
    .contact_us_area,
    .footer_widget,
    .footer_area,
    .footer_area ul,
    .slide_text,
    .contact_location ul li a i.fa {
      text-align: center;
    }
    .presonal-inform ul li {
      float: none;
      width: 100%;
    }
    .work_offer h2 {
      font-size: 23px;
      margin-bottom: 20px;
      line-height: 1.5;
    }
    .project_title li {
      padding: 10px;
      margin-bottom: 11px;
        display: block
    }
    .blog_box_item {
      font-size: 13px;
    }
    .blog_box_item h3 {
      font-size: 17px;
    }
    .offer_content h4,
    .footer_widget h3,
    .about_me_content {
      font-size: 14px;
    }
    .offer_content h1 {
      font-size: 26px;
      line-height: 1.4;
    }
    .navbar-header .navbar-brand {
        margin: 3px;
    }
    .main-nav li {
        width: 100px;
        padding: 5px 0;
        margin: 0 auto;
    }
    .get_in_touch_btn {
        margin-top: 15px;
        margin-right: 60px;
    }
    .testimonial_slide .owl-controls .owl-dots div {
        height: 4px;
        width: 17px;
    }
    .testimonial_slide .owl-controls .owl-dots {
        margin-top: 0px;
    }
    #our_team .section_title, .our_pricing .section_title {
        margin-bottom: 110px;
    }
    .contact_us_title {
      padding: 0 50px;
    }
    .contact_us_area {
      padding: 10px 0;
      margin-bottom: 35px;
    }
    .contact_location ul li a i.fa {
      width: 100%;
      margin-left: -80px;
    }
    
    .contact_us_title h2, .contact_location h3 {
      font-size: 20px;
    }
    .contact_us_titl h2::before {
      display: none;
    }
    .contact_us_title:before {
      background: none;
    }
    .contact_us_title {
      padding: 0;
      font-size: 13px;
    }
    .contact_location {
      font-size: 13px;
    }
    .contact_form {
      padding: 30px 10px 10px;
    }
    .progresss h4 {
        top: 2px;
    }
    .footer_widget {
        margin-bottom: 25px;
    }
    .footer_widget h3::before {
        left: 38%;
    }
    .contact_info i.fa {
        margin-left: 40px;
    }
    .footer_area ul {
        margin-top: 20px;
    }
    .scrollToTop {
        height: 40px;
        width: 40px;
    }
    .scrollToTop i.fa{
        line-height: 40px;
    }
    .mainmenu li ul {
        top: 45px;
        width: auto;
        background: rgb(12, 12, 12);
    }
    .mainmenu li:hover ul {
        top: 45px;
        opacity: 1;
        visibility: visible;
        left: auto;
        width: auto;
    }
	
}



/*		Wide Mobile Layout: 480px.        */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    
    .slide_text h1 {
        font-size: 45px;
    }
    .slide_text {
      font-size: 15px;
    }
    .progresss h4 {
        top: 0px;
        font-size: 15px;
    }
    .get_in_touch_btn {
        margin-right: 250px;
    }
    .contact_info i.fa {
        margin-left: 130px;
    }
    .footer_widget h3::before {
        left: 50%;
        margin-left: -30px;
    }
    

}





/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}