/*=================================
My Custom CSS
=============

Author: Mohammad Saifur Rahman
Updated: February 2017
Notes: Hand Coded for RR Foundation

*===================================/

/*------Start Base CSS------*/
* {
    margin: 0;
    padding: 0;
}
body {
	
}
img {
    height: auto;
    max-width: 100%;
	border: none;
}
body, html {
    height: 100%;
}
a, a:hover {
    text-decoration: none;
}
a:focus {
	color: #333;
	text-decoration: none;
}
a:focus, input:focus, textarea:focus, button:focus {
	outline: 0 solid;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;
    margin-top: 0;
}
p {
    margin-bottom: 10px;
    margin-top: 0;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.fix:before, .fix:after {
	content: "";
	display: table;
}
.fix:after {
	clear: both;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
.section_padding {
	padding: 80px 0;
}
/*------End Base CSS------*/

/*------Start Here Global CSS------*/
.section-title {
    text-align: center;
}
.section-title h1{
    text-transform:  uppercase;
    font-weight: 700;
}
.section-title p{
    color: #CECDCE;
    line-height: 0;
}
.small_icon a {
    color: #FFD700;
    display: inline-block;
}
.small_icon {
    position: relative;
    z-index: 1;
    font-size: 30px;
}
.small_icon:after, .small_icon:before {
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 50px;
    background: #FFD700;
    margin-top: -1px;
}
.small_icon:before{
    left: -60px;
}
.small_icon:after{
    right: -60px;
}
.service_bg_1{
   background-image: url(assets/img/bg1.jpg);
}
.service_bg_2{
   background-image: url(assets/img/bg2.jpg);
}
.service_bg_3{
   background-image: url(assets/img/bg3.jpg);
}
.service_bg_4{
   background-image: url(assets/img/bg4.jpg);
}
.service_bg_5{
   background-image: url(assets/img/bg5.jpeg);
}
.single_service_box {
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    height: 250px;
    position: relative;
    z-index: 1;
}
.service_box_tex {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 12px 32px;
    transition: .3s;
}
.service_box_tex p {
    color: #E29E00;
    font-weight: 400;
    line-height: 0;
}
.service_box_tex h4 {
    color: #fff;
    font-size: 17px;
}
.service_box_icon {
    display: table;
    width: 100%;
    height: 100%;
}
.service_box_icon-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.service_box_icon:after{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: #000;
    content: "";
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.service_box_icon-inner a {
    display: inline-block;
    height: 32px;
    width: 32px;
    background: #FFCA00;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}
.service_box_icon-inner a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #FFC500;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
}
.single_service_box:hover .service_box_tex {
    opacity: 0;
    visibility: hidden;
}
.single_service_box:hover .service_box_icon:after {
    opacity: 1;
    visibility: visible;
    opacity: .7;
}



.owl-dots div{
    height: 10px;
    width: 10px;
    margin: 5px;
    background: #000;
    border-radius: 50%;
    float: left;
}
.owl-dots .active{
    background: #4E9AF8;
}
.owl-dots{
    text-align: center;
}























